<html>

    <head></head>
    <body>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </body>

</html>